<h1>New Note</h1>

<%= render 'form', note: @note %>

<%= link_to 'Back', notes_path %>

 <ul>
    <li>
      <a href="#">
      	
        Text: <span class="note_title"></span></br>
        Author: <span class="note_name"></span></br>
        Color: <span class="color"></span>
      </a>
    </li>
    <li>
<ul>